.carousel-container {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    scroll-snap-align: start;
}

.carousel-slide img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.overlay-text p {
    font-size: 1.5rem;
    margin: 0;
}

.overlay-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0 0;
}

/* Tùy chỉnh dots của carousel */
.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before {
    color: white;
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: white;
}
.scroll-indicator {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 2s infinite;
}

.scroll-indicator img {
    width: 20px;
    height: auto;
    margin-bottom: 10px;
}

.scroll-text {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-20px) translateX(-50%);
    }
}